* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    --black: #181b31;
    --white: #f6fbfa;
    --green: #40af92;
    --gray-light: #646b77;

    /* User Agent */
    font-size: 62.5%;
}

body {
    background: var(--white);
}

