* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    --black: #181b31;
    --white: #f6fbfa;
    --green: #40af92;
    --gray-light: #808291;

    /* User Agent */
    font-size: 62.5%;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--gray-light);
    background: var(--white);
}

h1, h2, h3 {
    font-family: 'DM Serif Display', serif;
    color: var(--black);

}

h1 {
    font-size: 5.8rem;
}

h2 {
    font-size: 4.8rem;
}

p {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--gray-light)
}

input {
    border-radius: 18rem;
    box-shadow: 10px 15px 22px -12px var(--gray-light);
    padding: 2rem;
    width: 25rem;
    outline: none;

}
button {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    background: var(--green);
    color: var(--white);

    border-radius: 3rem;
    padding: 2rem;

}

button {
    left: min(25.3rem, 90%);
}
