.container {
    margin-top: 2.3rem;
    margin-left: min(50rem, 23%);
    margin-right: min(50rem, 23%);

}

nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: 'Secular One', sans-serif;
    font-size: 5rem;
    color: var(--green)
}


.menu, #subscribe {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--black)
}
.menu li {
    padding: 2rem ;
}

nav .menu li {
    margin: 0;
    list-style: none;
    display: inline;

}

#subscribe {
    margin-right: 60%;
    margin-bottom: 25rem;
}
#subscribe h1 {
    line-height: 95%;
    padding-bottom: 1.5rem;
}

.content {
    /* margin-top: 25rem; */
}

.offer{
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 15rem;
}

.green > p {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--green);
}

.skills{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15rem;
}

.skill {
    width: 30%;
}

.features {
    display: grid;
    grid-template-columns: 90% 1fr;
}
.arrows {
    display: flex;
    align-items: center;

}

.arrow-left, .arrow-right {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: .8rem;
    background: var(--green);
    color: var(--white) ;
    width: 4.5rem;
    height: 4.5rem;
    clip-path: circle();
}

.cards {
    display: flex;
    width: 100%;
    margin-bottom: 25rem;
}

.card {
    width: 300px;
    height: 300px;
    background: #fff;
    padding: 9px;
    margin: 5px;
    box-shadow: 10px 10px 10px;

}

.card > p {
    padding-bottom: 50%;


}

.card > a {
}

.benefits {
    grid-area: benefits;
}

.benefits {
    margin-bottom: 25rem;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr;
    
    grid-template-areas: 
    'benefits benefits'
    'left right';
}

#bg {
    grid-area: left;
    background: url();
}

.benefits {
    grid-area: right;
    display: flex;
    align-items: center;
}

.benefits li {
    font-family: 'Nanun Gothic', sans-serif;
    font-weight: 500;
}