.container {
    margin-top: 2.3rem;
    margin-left: min(50rem, 13%);
    margin-right: min(63rem, 23%);

}

nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: 'Secular One', sans-serif;
    font-size: 5rem;
    color: var(--green)
}


.menu, #subscribe {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--black)
}
.menu li {
    padding: 2rem ;
}

nav .menu li {
    margin: 0;
    list-style: none;
    display: inline;

}
