.container {
    margin-top: 2.3rem;
    margin-left: min(50rem, 23%);
    margin-right: min(50rem, 23%);

}

nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: 'Secular One', sans-serif;
    font-size: 5rem;
    color: var(--green)
}


.menu, #subscribe{
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--black)
}
.menu li {
    padding: 2rem ;
}

nav .menu li {
    margin: 0;
    list-style: none;
    display: inline;

}

#subscribe {
    margin-right: 60%;
}
#subscribe h1 {
    line-height: 6.5rem;
    padding-bottom: 1.5rem;
}